[user]
    name = keinstn
    email = kei.sj.nstn@gmail.com
[color]
    ui = true
[core]
    editor = nvim
    autocrlf = false
[alias]
    a = add
    co = checkout
    br = branch
    ci = commit --verbose
    st = status -sb
    wt = worktree
    wtl = worktree list
    wta = worktree add
    wtr = worktree remove
    wtp = worktree prune
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
