# fish
.config/fish/fishd*

# fisherman
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fishfile
.config/fish/functions/
.config/fisherman/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# neovim
.config/nvim/.netrwhist
.config/nvim/plugged/

# direnv
.config/direnv/
